$primary-white: #fff;
$primary-black: #121212;
$primary-light-gray: #dedede;
$dark-gray: #575757;
$secondary-white: #fcfcfc;
$secondary-black: #1a1818;
$secondary-gray: #9c9c9c;
$accent-red: #9b4b4b;
$accent-gold: #ab8956;
$accent-error: #ae2917;

$inLoader: 30;
$inLoaderIcon: 2;

$inHeaderHamburger: 21;
$inHeaderMenu: 20;

$inInfo: 9;

$inModal: 28;
$inModalOverlay: 14;
$inModalMenu: 20;
$inModalWindow: 15;
$inModalAdd: 20;

$inSliderOverlay: 23;
$inSliderOverElem: 24;
$inSliderCover: 25;
$inSwiper: 22;

$inMakeCover: 13;

$inCardArrow: 10;
$inCardBlock: 8;
