.label {
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 8px 16px;
  background: rgba(18, 18, 18, 0.05);
  border-radius: 30px;
  @include font('Inter-Medium', 8px);
  line-height: 140%;
  color: $dark-gray;

  &--dark {
    outline: 1px solid $primary-white;
    color: $primary-light-gray;
  }

  @include xs {
    font-size: 12px;
  }

  @include sm {
    margin: 0 20px 12px 0;
  }
}
